.body{
  display:flex;
  height:100%;
}

#nav_menu{
  position: fixed;
  height: 100%;
}

#header_menu{
  height: 100px;
}

#menu ul, #submenu ul{
  text-decoration: none;
}

#menu ul li{
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#menu ul li i{
  font-size: 30px;
  color:black;
  margin: 0 10px 0 0;
}

#menu ul li a{
  text-decoration: none;
}

#submenu ul li{
  list-style: none;
  flex: 1;
  line-height: 3rem;
  transition: flex .5s;
  display: inline;
  cursor: pointer;
}

p{
  font-size: 20px;;
}